{% extends "layout.html" %}

{% block content %}

<div class="container">
		<section>
			<form id="theForm" class="simform" autocomplete="off">
				<!-- BEGIN Tiempo  --> 
				<p><input id="id_timestamp" type = "hidden" name = "timestamp" value = {{timestamp}} /></p>
				<!-- END Tiempo  --> 
				<div class="simform-inner">
					<!-- Preguntas  --> 	
					<ol class="questions">
						<li>
							<span><label for="q1">Introduzca su nombre de  usuario</label></span>
							<input id="q1" name="usuario" type="text"  />
						</li>
						<li>
							<span><label for="q1">{{palabra}}</label></span>
							<input id="id_palabra" name="clave" type="text" placeholder="Introduzca la palabra" />
						</li>
					</ol><!-- /questions -->
					<button class="submit" type="submit">Enviar</button>
					<div class="controls">
						<button class="next"></button>
						<div class="progress"></div>
						<span class="number">
							<span class="number-current"></span>
							<span class="number-total"></span>
						</span>
						<span class="error-message"></span>
					</div><!-- / controls -->
				</div><!-- /simform-inner -->
				<span class="final-message"></span>
			</form><!-- /simform -->			
		</section>
		
	</div><!-- /container -->
  	{% block scripts %}
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/svgcheckbx.js"></script>
		<script src="/static/js/stepsForm.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	{% endblock %}	
		<script>
			$(document).ready(function(){
				$("#id_palabra").keyup(function(){
					$.ajax({
					type: "POST",
					url: "/getCaracter",
					data:'caracter='+$(this).val()+ '&timestamp='+$("#id_timestamp").val(),
					success: function(data){
						console.log("Correcto "+ data.caracter +  " T:" + data.ellapsed)
						$("#id_timestamp").val(data.timestamp)
					}
					});
				});
				$( "#id_pregunta" ).click(function() {
					var seconds = new Date().getTime() / 1000;
				  	$("#id_timestamp").val(seconds);
				  	console.log('tiempo reiniciado: ' + seconds)
				});
			});
		
			var theForm = document.getElementById( 'theForm' );

			new stepsForm( theForm, {
				onSubmit : function( form ) {
					// hide form
					classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

					/*
					form.submit()
					or
					AJAX request (maybe show loading indicator while we don't have an answer..)
					*/

					// let's just simulate something...
					var messageEl = theForm.querySelector( '.final-message' );
					messageEl.innerHTML = 'Autenticacion realizada con exito';
					classie.addClass( messageEl, 'show' );
				}
			} );
		</script>

{% endblock %}
